<footer class="footer">
    <hr>
    <div>
      <a href="https://nodejs.org/en" target="_blank">  <img src="/img/nodejs-footer.png"></a>
      <a href="https://angularjs.org" target="_blank">  <img src="/img/angularjs-footer.png"/></a>
      <a href="http://loopback.io" target="_blank">     <img src="/img/loopback-footer.png"/></a>
      <a href="https://www.mongodb.org" target="_blank"><img src="/img/mongoDB-footer.png"/></a>
    </div>
    <p>&copy; toekneefof {{'' | curYear }}</p>
</footer>
