<div class="jumbotron">
  <div class="container">
    <h1>Herro, thurr!</h1>
    <p>A better waay to get even with my memoraay.</p>
    <p><a class="btn btn-primary btn-lg" href="https://www.youtube.com/watch?v=pOI8InUnfE8" target="_blank" role="button">Learn more &raquo;</a></p>
  </div>
</div>
<div class="container">
  <!-- Example row of columns -->
  <div class="row">
    <div class="col-md-4">
      <h2>Chat</h2>
      <p>DIJ, NIJ.</p>
      <p><a class="btn btn-default" href="#/chat" role="button">Enter Chat &raquo;</a></p>
    </div>
    <div class="col-md-4">
      <h2>Photo Galleries</h2>
      <p>Responsiveness not guaranteed... for now</p>
      <p><a class="btn btn-default" href="#/gallery" role="button">View Galleries &raquo;</a></p>
    </div>
    <div class="col-md-4">
      <h2>Spotifun</h2>
      <p>Music and APIs, how could I resist </p>
      <p><a class="btn btn-default" href="#/spotify" role="button">To The Spot &raquo;</a></p>
    </div>
  </div>
</div>