<div class="container">
  <div class="row row-centered">
    <div class="carousel">
      <!-- Wrapper for slides -->
      <div id="spotify-playlist-carousel" class="carousel-inner" role="listbox">
        <div ng-repeat="playlist in myPlaylists" id="playlist-cover-{{$index}}" ng-class="[ 'item', 'center-block', { 'active': $index == activeIndex } ]">
            <img class="img-responsive img-rounded playlist-cover" width="500" ng-src="{{ playlist.images[0].url || playlist.images[2].url }}" alt="{{playlist.name}}"/>
            <table class="table table-responsive table-striped table-hover table-bordered table-condensed playlist-info">
              <thead>
                <th class="col-md-6">Track</th>
                <th class="col-md-3">Artist</th>
                <th class="col-md-3">Album</th>
              </thead>
              <tbody>
                <tr ng-repeat="track in playlist.plTracks">
                  <td class="col-md-6"><a ng-href="{{track.uri}}"><p>{{track.name}}</p></a></td>
                  <td class="col-md-3"><a ng-repeat="artist in track.artists" ng-href="{{artist.uri || '#/spotify'}}"><p>{{artist.name}}</p></a></td>
                  <td class="col-md-3"><a ng-href="{{track.album.uri}}"><p>{{track.album.name}}</p></a></td>
                </tr>
              </tbody>
            </table>
        </div>
      </div>
    </div>
  </div>
  <div id="playlist-controls">
    <div class="row row-centered spotify-playlist-name">
      <div class="col-md-8 col-centered">
        <h2><span class="label label-success"><a ng-href="{{ activePlaylist.uri }}">{{activePlaylist.name}}</a></span></h2>
      </div>
    </div>
    <div class="row row-centered">
      <a onclick="spotifyPlaylistFlip()">
        <h4>Flip</h4>
      </a></div>
    <!-- Indicators -->
    <div class="row">
      <div class="col-md-2 col-hug-right">
        <button type="button" class="btn btn-success" ng-click="setCarousel(activeIndex - 1)">
          <span class="glyphicon glyphicon-backward"></span>
        </button>
      </div>
      <div class="col-md-8 col-centered">
        <ol class="carousel-icons">
          <li ng-repeat="pl in myPlaylists" ng-class="{'active': pl == activePlaylist }" ng-style="{ 'background-image': 'url({{pl.images[0].url || pl.images[2].url}})', 'background-size': '50px 50px' }" ng-click="setCarousel($index)">
          </li>
        </ol>
      </div>
      <div class="col-md-2 col-hug-left">
        <button type="button full-width" class="btn btn-success" ng-click="setCarousel(activeIndex + 1)">
          <span class="glyphicon glyphicon-forward"></span>
        </button>
      </div>
      <!-- Left and right controls -->
    </div>
  </div>
  <!--
  <div class="spotify-follow-iframe">
    <iframe src="https://embed.spotify.com/follow/1/?uri=spotify:user:younglightning&size=detail&theme=light" allowtransparency="true"></iframe>
  </div>-->
</div>
<script src="/js/lib/fof-spotify.js"></script>